.contactUs-btn{
    color: white!important;
    border-radius: 20px 0px 20px 0px;
    background: hsl(188, 87%, 45%);
    background-image: radial-gradient( at 0 140%, #3bd6cd 30%, #0ab2e6 67%, #0ab2e6 69%);
     /* width: 200px;
     height: 50px; */
    
     /* border-radius: 10px; */
     display: inline-block!important;
     padding: 8px 20px 8px 20px!important;
     text-align: center;
     border: none;
}
.background-img{
    
    background-image: url('../../athena-design-resources/Illustration/headerBg.png');
    background-repeat: no-repeat;
    background-position: right -400px top -180px ;
    background-size: 70%;
}
@media screen and (max-width: 992px) {
   
  }