.mail-title{
    color:#0D052E;
}
.mail-field {
    
    height: 60px;
    margin: 0 auto;
    box-shadow: 2px 2px 10px 4px lightgrey;
    
}

.get-started-btn{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    /* height: 60px; */
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-image: linear-gradient(45deg,#2AF59D,#009EFD);
} 