.pricing {
   
   
  }
  
  .pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  .pricing ul{
      text-align: center;
      list-style-type: none;
      padding-left: 0px;
  }
 
  
  .pricing .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0;
    transition: all 0.2s;
    color: white!important;
    border-radius: 20px 0px 20px 0px;
    background: hsl(188, 87%, 45%);
    background-image: radial-gradient( at 0 140%, #3bd6cd 30%, #0ab2e6 67%, #0ab2e6 69%);
     display: inline-block!important;
     padding: 8px 30px 8px 30px!important;
     text-align: center;
     border: none;
    /* display: none; */
  }
  .pricing .card:hover {
    border: 3px solid #3cedce;
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
      
    }
    .pricing .card:hover .btn {
      
        opacity: 1;
    }
    .pricing .card:hover .hidden-hr{
        /* display: none; */
        opacity: 0;
    }
    .order-now-btn{
        color: white!important;
        border-radius: 20px 0px 20px 0px;
        background: hsl(188, 87%, 45%);
        background-image: radial-gradient( at 0 140%, #3bd6cd 30%, #0ab2e6 67%, #0ab2e6 69%);
         display: inline-block!important;
         padding: 0px 20px 0px 20px!important;
         text-align: center;
         border: none;
         width: 50%!important;
    }
   .background-img-pricing{
    
    background-image: url('../../athena-design-resources/Illustration/headerBg.png');
    background-repeat: no-repeat;
    background-position: left -400px top 60px ;
    background-size: 65%;
}
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    
  }