.single-footer li{
    list-style: none;
    line-height: 1em;  
    margin-top:20px
  }
  .footer-logo img{ 
    margin-top:20px;
    height: 100px; 
    padding-bottom: 20px;
  }
  .single-footer img{  
    padding-right: 20px;
    height: 20px;
  }
  